<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "shareup" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
<header>


</header>
<div class="container">
    <h1>Text!</h1>
    <div data-ng-view></div>
    <div>
        <h1>Hello I work really well!!!!!!!!!1</h1>
        <ul>
            <li ng-repeat="article in articles | orderBy:publishedDate:false">
                <div class="article-listing">
                    <div class="large-11 small-11 columns">
                        <h2>
                            <a
                                    href="{{ article.link }}"
                                    title="{{ article.title }}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p>
                            {{ article.publishedDate | date:'M/d/yy h:mm:ss a' }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> <!-- /container -->
<%= javascript_include_tag "application" %>
</body>
</html>


